@import url("https://fonts.googleapis.com/css2?family=Anaheim&family=Homenaje&family=Stalinist+One&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anaheim", sans-serif;
}

.fullpage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.router-view {
  padding: 1rem 2rem;
  width: 100%;
  min-height: calc(100vh - 76px - 26px);
  // overflow-y: scroll;
}

.grid-center {
  display: grid;
  place-content: center;
}

.w-100 {
  width: 100%;
}

.base-bg {
  background: rgb(226, 139, 76);
  background: -moz-linear-gradient(
    0deg,
    rgba(226, 139, 76, 1) 0%,
    rgba(217, 103, 21, 1) 51%,
    rgba(214, 90, 0, 1) 81%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(226, 139, 76, 1) 0%,
    rgba(217, 103, 21, 1) 51%,
    rgba(214, 90, 0, 1) 81%
  );
  background: linear-gradient(
    0deg,
    rgba(226, 139, 76, 1) 0%,
    rgba(217, 103, 21, 1) 51%,
    rgba(214, 90, 0, 1) 81%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e28b4c",endColorstr="#d65a00",GradientType=1);
  color: var(--SM-azure);
}

.dark-bg {
  background: rgb(207, 89, 5);
  background: -moz-radial-gradient(
    circle,
    rgba(207, 89, 5, 1) 4%,
    rgba(217, 91, 2, 1) 25%,
    rgba(163, 74, 11, 1) 86%,
    rgba(126, 59, 11, 1) 97%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(207, 89, 5, 1) 4%,
    rgba(217, 91, 2, 1) 25%,
    rgba(163, 74, 11, 1) 86%,
    rgba(126, 59, 11, 1) 97%
  );
  background: radial-gradient(
    circle,
    rgba(207, 89, 5, 1) 4%,
    rgba(217, 91, 2, 1) 25%,
    rgba(163, 74, 11, 1) 86%,
    rgba(126, 59, 11, 1) 97%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cf5905",endColorstr="#7e3b0b",GradientType=1);
  color: var(--SM-azure);
}

.logo-font {
  font-family: "Stalinist One", cursive;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Homenaje", sans-serif;
  margin: 0;
  margin-bottom: 1rem;
}
p {
  font-family: "Anaheim", sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

.p-button {
  color: #ffffff;
  background: var(--SM-orange);
  border: 1px solid var(--SM-orange);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 3px;
}

.p-button:hover,
.p-button:enabled:hover {
  color: #fff;
  background: var(--SM-orange-bright);
  border: 1px solid var(--SM-orange-bright);
}

.role-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.hover-elevation-2:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 2px 6px rgba(0, 0, 0, 0.12);
}

.hover-elevation-5:hover {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1),
    0px 4px 5px -2px rgba(0, 0, 0, 0.12), 0px 10px 15px -5px rgba(0, 0, 0, 0.2);
}

.p-inputnumber-buttons-horizontal .p-inputnumber-input {
  width: 45px;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background-color: var(--SM-orange-light);
}

.p-inputswitch.p-inputswitch-checked:hover .p-inputswitch-slider:hover {
  background-color: var(--SM-orange-bright);
}

.p-inputswitch.p-inputswitch-checked:hover .p-inputswitch-slider:enabled:hover {
  background-color: var(--SM-orange-bright);
}

.router-link:hover {
  cursor: pointer;
  color: var(--SM-orange-light);
  text-decoration: underline;
}

@media screen and (max-width: 400px) {
  .router-view {
    height: calc(100vh - 76px - 26px);
    overflow-y: scroll;
  }
}
